<div class="desc-content">
    <form [formGroup]="loginForm">

    
    <mat-card  class="matcardcss" >
        <mat-form-field  appearance="fill">
            <mat-label>UserEmail</mat-label>
            <input  matInput placeholder="Enter UserEmailId"
            calss="inputcss" type="email" formControlName="userEmail" #userEmail1chandra>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Passwaord</mat-label>
            <input  matInput placeholder="Enter Username"
            calss="inputcss" type="password" formControlName="passwaord" #password1>
        </mat-form-field>
        <br>
        <button [disabled]="!loginForm.valid" mat-raised-button color="primary"
        class="btn" (click)="fnLogin(userEmail1chandra.value,password1.value)">
            Login</button> &nbsp;&nbsp;&nbsp;
        <a routerLink="/register" class="regis">Register</a>
    </mat-card>

</form>
</div>

