
<div class="desc-content">
    <form [formGroup]="signupForm">

    <mat-card  class="matcardcss" >
      <mat-label>First Name</mat-label>
            <input  matInput placeholder="Enter First Name"
            calss="inputcss" type="text" formControlName="FirstName">
            <mat-label>Last Name</mat-label>
            <input  matInput placeholder="Enter Last Name"
            calss="inputcss" type="text" formControlName="LastName">
      
            <mat-label>Date of Birth</mat-label>
            <input  matInput placeholder="Enter DateOfBirth"
            calss="inputcss" type="date" formControlName="Age">
       
            <mat-label>Gender</mat-label>
            <input  matInput placeholder="Enter Last Name"
            calss="inputcss" type="text" formControlName="Gender">
       
            <mat-label>Role</mat-label>
           <select formControalName="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
           </select>
        
    <input type="radio" id="Male" name="gender" value="Male">
    <label for="Male">Male</label>
    <input type="radio" id="female" name="gender" value="Female">
    <label for="female">Female</label>
                
            <mat-label>UserEmail</mat-label>
            <input  matInput placeholder="Enter UserEmailId"
            calss="inputcss" type="email" formControlName="userEmail" #userEmaiId>
     
            <mat-label>Create Passwaord</mat-label>
            <input  matInput placeholder="Enter Create Passwaord"
            calss="inputcss" type="password" formControlName="CreatePasswaord" #CreatePass>
    
            <mat-label>Confirm Passwaord</mat-label>
            <input  matInput placeholder="Enter Confirm Passwaord"
            calss="inputcss" type="password" formControlName="ConfirmPasswaord" #ConfirmPass>
        
        <button [disabled]="!signupForm.valid" mat-raised-button color="primary"
        class="btn" (click)="fnsign(userEmaiId.value,CreatePass.value,ConfirmPass.value)">
            Login</button> &nbsp;&nbsp;&nbsp;
        <a routerLink="/register" class="regis">Register</a>
    </mat-card>

</form>
</div>

