.desc-content{
    margin-left: 250px;
    margin-right: 250px;
 
 text-emphasis-color: red;
 
}

.matcardcss{
 background-color: rgb(249, 216, 216);
 padding: 20px;
 margin: 20px;
 text-align: center;
}